<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <p>{{ site.description | escape }}</p>
    <ul class="contact-list">
      <li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
      <li><a href="{{ site.author.github }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.author.twitter }}">Twitter</a></li>
      <li><a href="https://linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>
    </ul>
  </div>
</footer>
