<footer>
  <div class="container">
    <p>
      &copy; {{ site.author.name }} {{ site.year }} &middot; <a href="{{ site.baseurl }}/about">About</a> &middot; <a href="{{ site.author.linkedin }}">LinkedIn</a> &middot; <a href="{{ site.author.github }}">GitHub</a> &middot; <a href="{{ site.author.twitter }}">Twitter</a>
    </p>
  </div>
</footer>

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
